
/* Variables */

:root {
    --primario: #1073BA;
    --secundario: #00DA55;
    --blanco: #fff;
    --gris: #dfdfdf;
    --grisClaro: #f2f2f2;
    --grisOscuro: #a7a7a7;
    --grisOscuro2: #888888;
    --grisOscuro3: #7e7e7e;
    --negro: #333333;
    --celeste: #2C88D9;
    --celesteClaro: rgb(53, 215, 243);
    --bordeArticulos: #C3CFD9;
    --verde: rgb(18, 179, 18);
    --verdeOscuro: rgb(15, 71, 15);
    --verdeClaro: #37B1A5;
    --violeta: rgb(158, 70, 240);
    --violetaOscuro: #7A1BC6;
    --naranjaUno: rgba(255, 200, 80, 0.624);
    --naranjaDos: rgba(248, 228, 183, 0.624);
    /* para redes sociales */
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
    --pinterest: #bd081c;
    --linkedin: #007785;
}